<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Page Title -->
    <title>Magala - Magazine and Blog Template</title>
    
    <!---Font Icon-->
    <link rel="stylesheet" href="assets/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    
    <!-- Place favicon.ico in the root directory -->
    

    <!-- Plugins css -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Theme Style -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--********************************************************-->
    <!--********************* SITE HEADER **********************-->
    <!--********************************************************-->
    <header class="site-header header-style-six bg-image pb-100" style="background-image:url(assets/images/header/header-bg.png);">
        <div class="site-logo-block">
            <a class="navbar-brand site-logo" href="index.html">
                <img src="assets/images/logo/logo-black2.png" alt="logo">
            </a>  
        </div><!--~./ site-logo-block ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Site Navigation
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="site-navigation">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar navbar-expand-lg navigation-area">
                            <div class="mainmenu-area">
                                <nav class="menu">
                                    <ul id="nav">
                                        <li class="dropdown-trigger"><a href="#">Home</a>
                                            <ul class="dropdown-content">
                                                <li class="dropdown-trigger"><a href="#">Magazine</a>
                                                    <ul class="dropdown-content">
                                                        <li><a href="index.html">Magazine one</a></li>
                                                        <li><a href="index02.html">Magazine two</a></li>
                                                        <li><a href="index03.html">Magazine Three</a></li>
                                                        <li><a href="index04.html">Magazine four</a></li>
                                                        <li><a href="index05.html">Magazine five</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-trigger"><a href="#">Blog</a>
                                                    <ul class="dropdown-content">
                                                        <li><a href="index06.html">Blog one</a></li>
                                                        <li><a href="index07.html">Blog two</a></li>
                                                        <li><a href="index08.html">Blog Three</a></li>
                                                        <li><a href="index09.html">Blog four</a></li>
                                                        <li><a href="index10.html">Blog five</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-trigger"><a href="#">Post Styles</a>
                                            <ul class="dropdown-content">
                                                <li><a href="category-standard.html">Standard Post</a></li>
                                                <li><a href="category-grid.html">Grid Post</a></li>
                                                <li><a href="category-list.html">List Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-trigger"><a href="#">Categories</a>
                                            <ul class="dropdown-content">
                                                <li><a href="category-grid.html">Business</a></li>
                                                <li><a href="category-list.html">Fashion</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Features</a></li>
                                        <li class="dropdown-trigger"><a href="#">Pages</a>
                                            <ul class="dropdown-content">
                                                <li><a href="category-standard.html">Post standard</a></li>
                                                <li><a href="category-grid.html">Post Grid Two</a></li>
                                                <li><a href="category-list.html">Post list Three</a></li>
                                                <li><a href="post-details.html">Post details One</a></li>
                                                <li><a href="post-details-two.html">Post details Two</a></li>
                                                <li><a href="post-details-three.html">Post details Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav><!--/.menu-->
                            </div><!--~./ mainmenu-wrap ~-->
                            
                            <div class="header-navigation-right">
                                <div class="social-profile">
                                    <ul class="social-share-two">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div><!--~./ social-profile ~-->
                                
                                <div class="search-wrap">
                                    <div class="search-btn">
                                        <img src="assets/images/icon/search.png" alt="icon">
                                        <span>Search</span>
                                    </div>
                                    <div class="search-form">
                                        <form action="#">
                                            <input type="search" placeholder="Search">
                                            <button type="submit"><i class='fa fa-search'></i></button>
                                        </form>
                                    </div>
                                </div><!--~./ search-wrap ~-->

                                <div class="sidebar-menu-btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div><!--~./ header-navigation-right ~-->
                        </div><!--~./ navigation-area ~-->
                    </div>
                </div>
            </div>
        </div><!--~./ site-navigation ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Mobile Menu
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="mobile-menu">
            <a class="mobile-logo" href="index.html">
                <img src="assets/images/logo/logo-black.png" alt="logo">
            </a>
        </div><!--~~./ end mobile menu ~~-->
    </header>
    <!--~./ end site header ~-->
    
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Sidebar Menu
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="sidebar-menu tse-scrollable">
        <div class="tse-content">
           <a href="#" class="sidebar-menu-close-button"><i class="fa fa-close"></i></a>
           <div class="sidebar-menu-inner"></div>
        </div>
    </div>
    <div class="sidebar-menu-close-all-window"></div>
    <!--~./ end Sidebar Menu ~-->
    
    
    <!--********************************************************-->
    <!--********************* SITE CONTENT *********************-->
    <!--********************************************************-->
    <div class="site-content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Frontpage Slider Posts
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="frontpage-slider-posts slider-style-three slider-style-five">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="frontpage-slider" class="owl-carousel frontpage-slider-three carousel-nav-align-center"> 
                            <article class="slider-item">
                                <figure class="slider-thumb">  
                                    <img src="assets/images/slider/6/1.jpg" alt="Thmubnail"> 
                                </figure><!--./ slider-thumb -->
                                <div class="content-entry-wrap">
                                    <div class="content-entry-wrap-inner">
                                        <div class="content-entry-wrap-inner-inner">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-two.html">Serena Williams can break Court's Grand Slam</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->

                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views">
                                                    <span>3 Min Read</span>
                                                </div><!--./ entry-views -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Fashion</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap-inner -->
                                    </div><!--./ content-entry-wrap -->
                                </div>
                            </article><!--./ slider-item --> 
                            
                            <article class="slider-item">
                                <figure class="slider-thumb">  
                                    <img src="assets/images/slider/6/2.jpg" alt="Thmubnail"> 
                                </figure><!--./ slider-thumb -->
                                <div class="content-entry-wrap">
                                    <div class="content-entry-wrap-inner">
                                        <div class="content-entry-wrap-inner-inner">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-two.html">This gun is advertised as the most popular gun in American</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->

                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views">
                                                    <span>3 Min Read</span>
                                                </div><!--./ entry-views -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Fashion</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </div><!--./ content-entry-wrap-inner -->
                                </div><!--./ content-entry-wrap -->
                            </article><!--./ slider-item --> 
                        </div><!--/#frontpage-slide --> 
                    </div>
                </div>
            </div>
        </div><!--~./End frontpage slider posts ~-->
       
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Frontpage Trending Posts
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="frontpage-trending-posts ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header style-four text-center">
                            <h2 class="section-title"><span>trending Blogs</span></h2>
                        </div><!--~./ end section header ~-->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <div id="trending-posts-carousel" class="owl-carousel carousel-nav-dots">
                           <!--~~~~~ Start Post ~~~~~-->
                            <article class="post hentry post-grid style-seven text-center">
                                <div class="entry-thumb">
                                    <figure class="thumb-wrap">
                                        <a href="post-details-two.html">
                                            <img src="assets/images/post/trending/01.jpg" alt="post">
                                        </a>
                                    </figure><!--./ thumb-wrap -->
                                </div><!--./ entry-thumb -->
                                <div class="content-entry-wrap">
                                    <div class="entry-content">
                                        <h3 class="entry-title">
                                            <a href="post-details-two.html">Supreme court girds for fight over census citizenship </a>
                                        </h3><!--./ entry-title -->
                                    </div><!--./ entry-content -->
                                    <div class="entry-meta-content">
                                        <div class="entry-date">
                                            <span>October 24, 2019</span>
                                        </div><!--./ entry-date -->
                                        <div class="entry-category">
                                            <a class="cat" href="#">Desert</a>
                                        </div><!--./ entry-category -->
                                    </div><!--./ thumb-wrap -->
                                </div><!--./ content-entry-wrap -->
                            </article><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <article class="post hentry post-grid style-seven text-center">
                                <div class="entry-thumb">
                                    <figure class="thumb-wrap">
                                        <a href="post-details-two.html">
                                            <img src="assets/images/post/trending/02.jpg" alt="post">
                                        </a>
                                    </figure><!--./ thumb-wrap -->
                                </div><!--./ entry-thumb -->
                                <div class="content-entry-wrap">
                                    <div class="entry-content">
                                        <h3 class="entry-title">
                                            <a href="post-details-two.html">The five biggest fashion looks for next spring</a>
                                        </h3><!--./ entry-title -->
                                    </div><!--./ entry-content -->
                                    <div class="entry-meta-content">
                                        <div class="entry-date">
                                            <span>October 24, 2019</span>
                                        </div><!--./ entry-date -->
                                        <div class="entry-category">
                                            <a class="cat" href="#">Drinks</a>
                                        </div><!--./ entry-category -->
                                    </div><!--./ thumb-wrap -->
                                </div><!--./ content-entry-wrap -->
                            </article><!--~./ end post ~-->
                            
                            <!--~~~~~ Start Post ~~~~~-->
                            <article class="post hentry post-grid style-seven text-center">
                                <div class="entry-thumb">
                                    <figure class="thumb-wrap">
                                        <a href="post-details-two.html">
                                            <img src="assets/images/post/trending/03.jpg" alt="post">
                                        </a>
                                    </figure><!--./ thumb-wrap -->
                                </div><!--./ entry-thumb -->
                                <div class="content-entry-wrap">
                                    <div class="entry-content">
                                        <h3 class="entry-title">
                                            <a href="post-details-two.html">Return of the bench seat Concept shown of space big</a>
                                        </h3><!--./ entry-title -->
                                    </div><!--./ entry-content -->
                                    <div class="entry-meta-content">
                                        <div class="entry-date">
                                            <span>October 24, 2019</span>
                                        </div><!--./ entry-date -->
                                        <div class="entry-category">
                                            <a class="cat" href="#">Appetizers</a>
                                        </div><!--./ entry-category -->
                                    </div><!--./ thumb-wrap -->
                                </div><!--./ content-entry-wrap -->
                            </article><!--~./ end post ~-->
                        </div>
                    </div>
                </div>
            </div>
        </div><!--~./End frontpage trending posts ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Add Banner
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="add-banner add-banner-style-two">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="add-content text-center bg-gray">
                            <a title="add" href="#">
                                <img src="assets/images/advertisement/add728X90.png" alt="add">
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
        </div><!--~./ end add banner ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Main Wrapper
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="main-wrapper ptb-100 style-two">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-8">
                        <!--~~~~~ Start Site Main ~~~~~-->
                        <main class="site-main">
                            <div class="row">
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-12">
                                    <article class="post hentry style-seven text-center">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details-two.html">
                                                    <img src="assets/images/post/standard/6.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-two.html">This gun is advertised as the most popular gun in American</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                            <div class="entry-summary">
                                                <p>Sitting on a working-class comme  dows of an easy above-ground rail line, a group cal led Make the Road at New York's busy street-level offices are easy to miss. But its mission to support an easy</p>
                                            </div><!--./ entry-summary -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views">
                                                    <span>3 Min Read</span>
                                                </div><!--./ entry-views -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Business</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->

                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-6">
                                    <article class="post hentry post-grid style-seven text-center">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details-two.html">
                                                    <img src="assets/images/post/grid/7/1.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-two.html">This gun is advertised as the gun in american</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Diet</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->

                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-6">
                                    <article class="post hentry post-grid style-seven text-center">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details-two.html">
                                                    <img src="assets/images/post/grid/7/2.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-two.html">The five biggest fashion looks for next spring</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Dessert</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->

                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-6">
                                    <article class="post hentry post-grid style-seven text-center">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details-two.html">
                                                    <img src="assets/images/post/grid/7/3.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-two.html">The five biggest fashion looks for next spring</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Dessert</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->

                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-6">
                                    <article class="post hentry post-grid style-seven text-center">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details-two.html">
                                                    <img src="assets/images/post/grid/7/4.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-two.html">Cold skateboard entry annual in brazil</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Breakfast</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                            </div>
                        </main>
                        <!--~./ end site main ~-->
                        
                        <!--~~~~~ Start Paging Navigation ~~~~~-->
                        <nav class="navigation paging-navigation pagination-center pt-40">
                            <ul class="nav-links">
                                <li class="nav-previous"> <!-- disabled class add when no pagination -->
                                    <a href="#">Previous</a>
                                </li>                                       
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#" class="page-numbers">2</a></li>
                                <li><a href="#" class="page-numbers">3</a></li>
                                <li><a href="#" class="page-numbers">4</a></li>
                                <li class="nav-next">
                                    <a href="#">Next</a>
                                </li>
                            </ul>
                        </nav><!--~./ end paging navigation ~-->
                    </div>
                    
                    <!--~~~~~ Start sidebar ~~~~~-->
                    <div class="col-lg-3">
                        <div class="sidebar sidebar-style-two">
                            <!--~~~~~ Start Bt Social Widget~~~~~-->
                            <aside class="widget bt-socail-widget bt-socail-widget-two">
                                <div class="widget-content">
                                    <div class="bt-socail-profile">
                                        <a class="icon" href="#" target="_blank">
                                            <span class="social-icon">
                                                <i class="fa fa-twitter"></i>
                                            </span>
                                            <div class="right">
                                                <span class="bt-count">120k <b>followers</b></span>
                                                <span class="bt-name">twitter</span>
                                            </div>
                                        </a>
                                        <a class="icon" href="#" target="_blank">
                                            <span class="social-icon">
                                                <i class="fa fa-facebook"></i>
                                            </span>
                                            <div class="right">
                                                <span class="bt-count">120k <b>like</b></span>
                                                <span class="bt-name">facebook</span>
                                            </div>
                                        </a>
                                        <a class="icon" href="#" target="_blank">
                                            <span class="social-icon">
                                                <i class="fa fa-google-plus"></i>
                                            </span>
                                            <div class="right">
                                                <span class="bt-count">120k <b>followers</b></span>
                                                <span class="bt-name">google+</span>
                                            </div>
                                        </a>
                                        <a class="icon" href="#" target="_blank">
                                            <span class="social-icon">
                                                <i class="fa fa-instagram"></i>
                                            </span>
                                            <div class="right">
                                                <span class="bt-count">120k <b>followers</b></span>
                                                <span class="bt-name">instagram</span>
                                            </div>
                                        </a>
                                    </div><!--~./ bt-socail-profile ~-->
                                </div>
                            </aside><!--~./ end bt social widget ~-->
                            
                            <!--~~~~~ Start Popular Posts Widget~~~~~-->
                            <aside class="widget popular-posts-widget">
                                <h4 class="widget-title"><span>Most Shared</span></h4>
                                <div class="widget-content">
                                    <article class="post side-post">
                                        <div class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/widget/populer/1/1.jpg" alt="post">
                                            </a>
                                            <span class="count">1</span>
                                        </div><!--./ thumb-wrap -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">The rumored iPhone could in hot pink</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>July 24, 2019 </span>
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->
                                    
                                    <article class="post side-post">
                                        <div class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/widget/populer/1/2.jpg" alt="post">
                                            </a>
                                            <span class="count">2</span>
                                        </div><!--./ thumb-wrap -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">This gun is advertise as the most popular gun</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>July 24, 2019 </span>
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->
                                    
                                    <article class="post side-post">
                                        <div class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/widget/populer/1/3.jpg" alt="post">
                                            </a>
                                            <span class="count">3</span>
                                        </div><!--./ thumb-wrap -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">How to live with some vegeterian when you eat </a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>July 24, 2019 </span>
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->
                                </div>
                            </aside><!--~./ end popular posts widget ~-->
                              
                            <!--~~~~~ Start Bt Widget Categories~~~~~-->
                            <aside class="widget bt-widget-categories bt-widget-categories-two">
                                <div class="widget-content">
                                    <a href="#" class="cat-item">
                                        <div class="cat-item-inner">
                                            <div class="cat-thumb">
                                                <img src="assets/images/widget/cat/2/1.jpg" alt="img">
                                            </div>
                                            <div class="cat-name">
                                                <span>Appetizers</span>
                                            </div>
                                        </div>
                                    </a><!--~./ cat-item ~-->
                                    
                                    <a href="#" class="cat-item">
                                        <div class="cat-item-inner">
                                            <div class="cat-thumb">
                                                <img src="assets/images/widget/cat/2/2.jpg" alt="img">
                                            </div>
                                            <div class="cat-name">
                                                <span>Desert</span>
                                            </div>
                                        </div>
                                    </a><!--~./ cat-item ~-->
                                    
                                    <a href="#" class="cat-item">
                                        <div class="cat-item-inner">
                                            <div class="cat-thumb">
                                                <img src="assets/images/widget/cat/2/3.jpg" alt="img">
                                            </div>
                                            <div class="cat-name">
                                                <span>Health & Diet</span>
                                            </div>
                                        </div>
                                    </a><!--~./ cat-item ~-->
                                </div>
                            </aside><!--~./ end bt widget categories ~-->
                               
                            <!--~~~~~ Start Subscribe Widget~~~~~-->
                            <aside class="widget tb-subscribe-widget">
                                <div class="widget-content">
                                    <div class="subscribe-box">
                                        <div class="icon">
                                            <img src="assets/images/widget/newsletter/icon.png" alt="icon">
                                        </div>
                                        <p>Subscribe to our mailing list to get the new updates!</p>
                                        <div class="subscribe-form">
                                            <!-- Subscribe form -->
                                            <form class="dv-form" id="mc-form">
                                                <div class="form-group">
                                                    <input id="mc-email" name="EMAIL" placeholder="Email Address" type="email">
                                                    <button class="btn btn-primary" name="Subscribe" id="subscribe-btn" type="submit">Subscribe Now</button>
                                                </div>
                                            </form>
                                         </div>
                                    </div>
                                </div>
                            </aside><!--~./ end subscribe widget ~-->
                            
                            <!--~~~~~ Start Review Posts Widget~~~~~-->
                            <aside class="widget tb-review-posts-widget">
                                <h4 class="widget-title"><span>Review Post</span></h4>
                                <div class="widget-content">
                                    <article class="post side-post">
                                        <div class="post-review-rating">
                                            <div class="progress" data-percentage="60">
                                                <div class="progress-left">
                                                    <span class="progress-bar"></span>
                                                </div>
                                                <div class="progress-right">
                                                    <span class="progress-bar"></span>
                                                </div>
                                                <div class="progress-value">6</div>
                                            </div>
                                        </div><!--./ post-review-rating -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">The rumored could in hot pink</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>July 24, 2019 </span>
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->

                                    <article class="post side-post">
                                        <div class="post-review-rating">
                                            <div class="progress" data-percentage="50">
                                                <div class="progress-left">
                                                    <span class="progress-bar"></span>
                                                </div>
                                                <div class="progress-right">
                                                    <span class="progress-bar"></span>
                                                </div>
                                                <div class="progress-value">5</div>
                                            </div>
                                        </div><!--./ post-review-rating -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">This gun is good as most gun</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>July 24, 2019 </span>
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->
                                    <article class="post side-post">
                                        <div class="post-review-rating">
                                            <div class="progress" data-percentage="70">
                                                <div class="progress-left">
                                                    <span class="progress-bar"></span>
                                                </div>
                                                <div class="progress-right">
                                                    <span class="progress-bar"></span>
                                                </div>
                                                <div class="progress-value">7</div>
                                            </div>
                                        </div><!--./ post-review-rating -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">How to live with some vegeterian </a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>July 24, 2019 </span>
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->
                                    <article class="post side-post">
                                        <div class="post-review-rating">
                                            <div class="progress" data-percentage="90">
                                                <div class="progress-left">
                                                    <span class="progress-bar"></span>
                                                </div>
                                                <div class="progress-right">
                                                    <span class="progress-bar"></span>
                                                </div>
                                                <div class="progress-value">9</div>
                                            </div>
                                        </div><!--./ post-review-rating -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">The rumored could in hot pink</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>July 24, 2019 </span>
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->
                                </div>
                            </aside><!--~./ end review posts widget ~-->
                        </div>
                    </div><!--~./ end sidebar ~-->
                </div>
            </div>
        </div><!--~./ end main wrapper ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Instagram Widget Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="instagram-widget-area pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="widget bt-instafeed-widget">
                            <ul id="instafeed">
                                <li class="feed-item">
                                    <a href="#">
                                        <img src="assets/images/widget/instagram/4/1.jpg" alt="#">
                                    </a>
                                </li>
                                <li class="feed-item">
                                    <a href="#">
                                        <img src="assets/images/widget/instagram/4/2.jpg" alt="#">
                                    </a>
                                </li>
                                <li class="feed-item">
                                    <a href="#">
                                        <img src="assets/images/widget/instagram/4/3.jpg" alt="#">
                                    </a>
                                </li>
                                <li class="feed-item">
                                    <a href="#">
                                        <img src="assets/images/widget/instagram/4/4.jpg" alt="#">
                                    </a>
                                </li>
                                <li class="feed-item">
                                    <a href="#">
                                        <img src="assets/images/widget/instagram/4/5.jpg" alt="#">
                                    </a>
                                </li>
                                <li class="feed-item">
                                    <a href="#">
                                        <img src="assets/images/widget/instagram/4/6.jpg" alt="#">
                                    </a>
                                </li>
                                <li class="feed-item">
                                    <a href="#">
                                        <img src="assets/images/widget/instagram/4/7.jpg" alt="#">
                                    </a>
                                </li>
                                <li class="feed-item">
                                    <a href="#">
                                        <img src="assets/images/widget/instagram/4/8.jpg" alt="#">
                                    </a>
                                </li>
                            </ul> 
                            <div class="instafeed-heading">
                                <div class="heading">
                                    <h4>Follow Us <span>#magla</span></h4>
                                </div>
                            </div><!--/.instafeed-heading-->
                        </div><!--/.widget-instafeed-->
                    </div>
                </div>
            </div>
        </div><!--~./ end instagram widget area ~-->
    </div>
    <!-- End site content -->
      
    
    <!--********************************************************-->
    <!--********************** SITE FOOTER *********************-->
    <!--********************************************************-->
    <footer class="site-footer footer-default-style footer-style-two ptb-40">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Footer Widget Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <!--~~~~~ Start Widget About us Info ~~~~~--> 
                    <div class="col-lg-6">
                        <aside class="widget bt-about-us-widget">
                            <div class="widget-content">
                                <div class="about-logo">
                                    <a href="index.html"><img src="assets/images/logo/footer-logo-black.png" alt="Logo"></a>
                                </div>
                                <p>Sitting on a working-class comme dows of an easy above-ground rail line group called Make the Road New York's busy street</p>
                            </div>
                        </aside>
                    </div><!--~./ end about us widget ~-->
                    
                    <!--~~~~~ Start Widget link ~~~~~--> 
                    <div class="col-lg-3">
                        <aside class="widget widget-list">
                            <div class="widget-content">
                                <ul class="list">
                                    <li><a href="#">Advertise</a></li>
                                    <li><a href="#">Forum</a></li>
                                    <li><a href="#">BuddyPress</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div><!--~./ end widget link ~-->
                    
                    <!--~~~~~ Start Social Profile Widget ~~~~~--> 
                    <div class="col-lg-3">
                        <aside class="widget bt-social-profile-widget">
                            <div class="widget-content">
                                <div class="social-profile text-right">
                                    <ul class="social-share-two">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div><!--~./ end social profile widget ~-->
                </div>
            </div>
        </div>
        <!--~./ end footer widgets area ~-->
    </footer>
    <!--~./ end site footer ~-->
    
    <!-- jQuery js -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Popper js -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Owl carousel js -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Masonary js -->
    <script src="assets/js/masonary.min.js"></script>
    <!-- News Ticker js -->
    <script src="assets/js/breaking-news-ticker.min.js"></script>
    <!-- Trackpad Scroll js -->
    <script src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <!-- Sticky ResizeSensor js -->
    <script src="assets/js/ResizeSensor.min.js"></script>
    <!-- Sticky Sidebar js -->
    <script src="assets/js/theia-sticky-sidebar.min.js"></script>
    <!-- Plugin js -->
    <script src="assets/js/plugins.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
</body>
</html>
