<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Page Title -->
    <title>Magala - Magazine and Blog Template</title>
    
    <!---Font Icon-->
    <link rel="stylesheet" href="assets/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    
    <!-- Place favicon.ico in the root directory -->
    

    <!-- Plugins css -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Theme Style -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--********************************************************-->
    <!--********************* SITE HEADER **********************-->
    <!--********************************************************-->
    <header class="site-header header-style-two header-style-five">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Site Navigation
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="site-navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar navbar-expand-lg navigation-area">
                            <div class="site-logo-block">
                                <a class="navbar-brand site-logo" href="index.html">
                                    <img src="assets/images/logo/logo-black.png" alt="logo">
                                </a>  
                            </div><!--~./ site-logo-block ~-->
                            <div class="mainmenu-area">
                                <nav class="menu">
                                    <ul id="nav">
                                        <li class="dropdown-trigger"><a href="#">Home</a>
                                            <ul class="dropdown-content">
                                                <li class="dropdown-trigger"><a href="#">Magazine</a>
                                                    <ul class="dropdown-content">
                                                        <li><a href="index.html">Magazine one</a></li>
                                                        <li><a href="index02.html">Magazine two</a></li>
                                                        <li><a href="index03.html">Magazine Three</a></li>
                                                        <li><a href="index04.html">Magazine four</a></li>
                                                        <li><a href="index05.html">Magazine five</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-trigger"><a href="#">Blog</a>
                                                    <ul class="dropdown-content">
                                                        <li><a href="index06.html">Blog one</a></li>
                                                        <li><a href="index07.html">Blog two</a></li>
                                                        <li><a href="index08.html">Blog Three</a></li>
                                                        <li><a href="index09.html">Blog four</a></li>
                                                        <li><a href="index10.html">Blog five</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-trigger"><a href="#">Post Styles</a>
                                            <ul class="dropdown-content">
                                                <li><a href="category-standard.html">Standard Post</a></li>
                                                <li><a href="category-grid.html">Grid Post</a></li>
                                                <li><a href="category-list.html">List Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-trigger"><a href="#">Categories</a>
                                            <ul class="dropdown-content">
                                                <li><a href="category-grid.html">Business</a></li>
                                                <li><a href="category-list.html">Fashion</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Features</a></li>
                                        <li class="dropdown-trigger"><a href="#">Pages</a>
                                            <ul class="dropdown-content">
                                                <li><a href="category-standard.html">Post standard</a></li>
                                                <li><a href="category-grid.html">Post Grid Two</a></li>
                                                <li><a href="category-list.html">Post list Three</a></li>
                                                <li><a href="post-details.html">Post details One</a></li>
                                                <li><a href="post-details-two.html">Post details Two</a></li>
                                                <li><a href="post-details-three.html">Post details Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav><!--/.menu-->
                            </div><!--~./ mainmenu-wrap ~-->
                            
                            <div class="header-navigation-right">
                                <div class="social-profile">
                                    <ul class="social-share-two">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div><!--~./ social-profile ~-->
                                
                                <div class="search-wrap">
                                    <div class="search-btn">
                                        <img src="assets/images/icon/search.png" alt="icon">
                                        <span>Search</span>
                                    </div>
                                    <div class="search-form">
                                        <form action="#">
                                            <input type="search" placeholder="Search">
                                            <button type="submit"><i class='fa fa-search'></i></button>
                                        </form>
                                    </div>
                                </div><!--~./ search-wrap ~-->

                                <div class="sidebar-menu-btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div><!--~./ header-navigation-right ~-->
                        </div><!--~./ navigation-area ~-->
                    </div>
                </div>
            </div>
        </div><!--~./ site-navigation ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Mobile Menu
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="mobile-menu">
            <a class="mobile-logo" href="index.html">
                <img src="assets/images/logo/logo-black.png" alt="logo">
            </a>
        </div><!--~~./ end mobile menu ~~-->
    </header>
    <!--~./ end site header ~-->
    
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Sidebar Menu
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="sidebar-menu tse-scrollable">
        <div class="tse-content">
           <a href="#" class="sidebar-menu-close-button"><i class="fa fa-close"></i></a>
           <div class="sidebar-menu-inner"></div>
        </div>
    </div>
    <div class="sidebar-menu-close-all-window"></div>
    <!--~./ end Sidebar Menu ~-->
    
    
    <!--********************************************************-->
    <!--********************* SITE CONTENT *********************-->
    <!--********************************************************-->
    <div class="site-content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Frontpage Slider Posts
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="frontpage-slider-posts slider-style-two slider-style-four">
            <div id="frontpage-slider" class="owl-carousel frontpage-slider-two carousel-nav-align-center"> 
                <article class="slider-item">
                    <figure class="slider-thumb">  
                        <img src="assets/images/slider/5/1.jpg" alt="Thmubnail"> 
                    </figure><!--./ slider-thumb -->
                    <div class="content-entry-wrap">
                        <div class="entry-content">
                            <h3 class="entry-title">
                                <a href="post-details.html">Serena Williams can 'absolutely' break Court's Grand Slam record</a>
                            </h3><!--./ entry-title -->
                        </div><!--./ entry-content -->

                        <div class="entry-meta-content">
                            <div class="entry-date">
                                <span>October 24, 2019</span>
                            </div><!--./ entry-date -->
                            <div class="entry-views">
                                <span>3 Min Read</span>
                            </div><!--./ entry-views -->
                            <div class="entry-category">
                                <a class="cat" href="#">Sport</a>
                            </div><!--./ entry-category -->
                        </div><!--./ entry-meta-content -->
                    </div><!--./ content-entry-wrap -->
                </article><!--./ slider-item -->
                
                <article class="slider-item">
                    <figure class="slider-thumb">  
                        <img src="assets/images/slider/2/2.jpg" alt="Thmubnail"> 
                    </figure><!--./ slider-thumb -->
                    <div class="content-entry-wrap">
                        <div class="entry-content">
                            <h3 class="entry-title">
                                <a href="post-details.html">Serena Williams can 'absolutely' break Court's Grand Slam record</a>
                            </h3><!--./ entry-title -->
                        </div><!--./ entry-content -->

                        <div class="entry-meta-content">
                            <div class="entry-date">
                                <span>October 24, 2019</span>
                            </div><!--./ entry-date -->
                            <div class="entry-views">
                                <span>3 Min Read</span>
                            </div><!--./ entry-views -->
                            <div class="entry-category">
                                <a class="cat" href="#">Fashion</a>
                            </div><!--./ entry-category -->
                        </div><!--./ entry-meta-content -->
                    </div><!--./ content-entry-wrap -->
                </article><!--./ slider-item -->
                
                <article class="slider-item">
                    <figure class="slider-thumb">  
                        <img src="assets/images/slider/5/2.jpg" alt="Thmubnail"> 
                    </figure><!--./ slider-thumb -->
                    <div class="content-entry-wrap">
                        <div class="entry-content">
                            <h3 class="entry-title">
                                <a href="post-details.html">Serena Williams can 'absolutely' break Court's Grand Slam record</a>
                            </h3><!--./ entry-title -->
                        </div><!--./ entry-content -->

                        <div class="entry-meta-content">
                            <div class="entry-date">
                                <span>October 24, 2019</span>
                            </div><!--./ entry-date -->
                            <div class="entry-views">
                                <span>3 Min Read</span>
                            </div><!--./ entry-views -->
                            <div class="entry-category">
                                <a class="cat" href="#">Fashion</a>
                            </div><!--./ entry-category -->
                        </div><!--./ entry-meta-content -->
                    </div><!--./ content-entry-wrap -->
                </article><!--./ slider-item -->
            </div><!--/#frontpage-slide --> 
        </div><!--~./End frontpage slider posts ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start About Us Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="about-us-area bg-golden">
            <div class="container">
                <div class="quote">
                    <img src="assets/images/icon/quote-gray.png" alt="img">
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-us-content">
                            <h3 class="name">Hi, My Name Is <i>Fatima</i></h3>
                            <p>Why money's in that office, right? If she start giving means some bullet about ain't there, and we got to go placing else and get it. Why not can money's in that office, right? If she start giving means some bullshit for about it ain't there. Why money's in that office, right? If she start giving means some bullet about ain't there, and we got to go placing else and get it. Why not can money's in that office.</p>
                            <div class="author-sign">
                                <img src="assets/images/widget/about/signature.png" alt="img">
                            </div>
                        </div><!--~./ about-us-content ~-->
                    </div>
                    <div class="col-lg-6">
                        <div class="about-thumb text-center">
                            <img src="assets/images/about-me.png" alt="img">
                        </div><!--~./ about-thumb ~-->
                    </div>
                </div>
            </div>
        </div><!--~./ end about us area ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Main Wrapper
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="main-wrapper ptb-100 blog-style-two">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <!--~~~~~ Start Site Main ~~~~~-->
                        <main class="site-main">
                            <div class="section-header style-three text-center">
                                <h2 class="section-title">Recent Articles</h2>
                            </div><!--~./ end section header ~-->
                            <div id="masonry-posts" class="row">
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-4 col-md-6 grid-item">
                                    <article class="post hentry post-grid style-three">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details.html">
                                                    <img src="assets/images/post/grid/5/1.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">LifeStyle</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ thumb-wrap -->
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details.html">This gun is advertised as the gun in american</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-4 col-md-6 grid-item">
                                    <article class="post hentry post-grid style-three">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details.html">
                                                    <img src="assets/images/post/grid/5/2.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Fashion</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ thumb-wrap -->
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details.html">Insight: Vinales’ Win Highlights Big Decision</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-4 col-md-6 grid-item">
                                    <article class="post hentry post-grid style-three">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details.html">
                                                    <img src="assets/images/post/grid/5/3.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Travel</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ thumb-wrap -->
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details.html">Under Armour Third-Quarter Revenue</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-4 col-md-6 grid-item">
                                    <article class="post hentry post-grid style-three">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details.html">
                                                    <img src="assets/images/post/grid/5/5.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Travel</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ thumb-wrap -->
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details.html">Under Armour Third-Quarter Revenue</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-4 col-md-6 grid-item">
                                    <article class="post hentry post-grid style-three">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details.html">
                                                    <img src="assets/images/post/grid/5/4.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Diet</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ thumb-wrap -->
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details.html">Insight: Vinales’ Win Highlights Big Decision</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-4 col-md-6 grid-item">
                                    <article class="post hentry post-grid style-three">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details.html">
                                                    <img src="assets/images/post/grid/5/6.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Beauty</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ thumb-wrap -->
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details.html">This gun is advertised as the gun in american</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-4 col-md-6 grid-item">
                                    <article class="post hentry post-grid style-three">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details.html">
                                                    <img src="assets/images/post/grid/5/7.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Lifestyle</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ thumb-wrap -->
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details.html">Train Passing In Colorful Street Lovely Flowers</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-4 col-md-6 grid-item">
                                    <article class="post hentry post-grid style-three">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details.html">
                                                    <img src="assets/images/post/grid/5/9.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Travel</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ thumb-wrap -->
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details.html">This gun is advertised as the gun in american</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-lg-4 col-md-6 grid-item">
                                    <article class="post hentry post-grid style-three">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details.html">
                                                    <img src="assets/images/post/grid/5/8.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Beauty</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ thumb-wrap -->
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details.html">Why Chanel Is Raising Popular Bags</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                            </div>
                        </main>
                        <!--~./ end site main ~-->
                        
                        <!--~~~~~ Start Paging Navigation ~~~~~-->
                        <nav class="navigation paging-navigation pagination-center">
                            <ul class="nav-links">
                                <li class="nav-previous"> <!-- disabled class add when no pagination -->
                                    <a href="#">Previous</a>
                                </li>                                     
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#" class="page-numbers">2</a></li>
                                <li><a href="#" class="page-numbers">3</a></li>
                                <li><a href="#" class="page-numbers">4</a></li>
                                <li class="nav-next">
                                    <a href="#">Next</a>
                                </li>  
                            </ul>
                        </nav><!--~./ end paging navigation ~-->
                    </div>
                </div>
            </div>
        </div><!--~./ end main wrapper ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Instagram Widget Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="instagram-widget-area style-two">
            <div class="widget bt-instafeed-widget">
                <ul id="instafeed">
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/1.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/2.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/3.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/4.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/5.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/6.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/7.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/8.jpg" alt="#">
                        </a>
                    </li>
                </ul> 
                <div class="instafeed-heading">
                    <div class="heading">
                        <h4>Follow Us <span>#magla</span></h4>
                    </div>
                </div><!--/.instafeed-heading-->
            </div><!--/.widget-instafeed-->
        </div><!--~./ end instagram widget area ~-->
    </div>
    <!-- End site content -->
      
    
    <!--********************************************************-->
    <!--********************** SITE FOOTER *********************-->
    <!--********************************************************-->
    <footer class="site-footer footer-bolg-style-one ptb-100">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Footer Widget Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row justify-content-center">
                    <!--~~~~~ Start Widget About us Widget ~~~~~--> 
                    <div class="col-lg-5">
                        <aside class="widget bt-about-us-widget text-center">
                            <div class="widget-content">
                                <div class="about-logo">
                                    <a href="index.html"><img src="assets/images/logo/footer-logo-black.png" alt="Logo"></a>
                                </div>
                                <p>Sitting on a working-class comme dows of an easy above-ground rail line group called Make the Road New York's busy street</p>
                                <div class="social-profile">
                                    <ul class="social-share-two">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div><!--~./ end about us widget ~-->
                </div>
            </div>
        </div>
        <!--~./ end footer widgets area ~-->
    </footer>
    <!--~./ end site footer ~-->
    
    <!-- jQuery js -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Popper js -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Owl carousel js -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Masonary js -->
    <script src="assets/js/masonary.min.js"></script>
    <!-- News Ticker js -->
    <script src="assets/js/breaking-news-ticker.min.js"></script>
    <!-- Trackpad Scroll js -->
    <script src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <!-- Sticky ResizeSensor js -->
    <script src="assets/js/ResizeSensor.min.js"></script>
    <!-- Sticky Sidebar js -->
    <script src="assets/js/theia-sticky-sidebar.min.js"></script>
    <!-- Plugin js -->
    <script src="assets/js/plugins.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
</body>
</html>
