<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Page Title -->
    <title>Magala - Magazine and Blog Template</title>
    
    <!---Font Icon-->
    <link rel="stylesheet" href="assets/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    
    <!-- Place favicon.ico in the root directory -->
    

    <!-- Plugins css -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Theme Style -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--********************************************************-->
    <!--********************* SITE HEADER **********************-->
    <!--********************************************************-->
    <header class="site-header header-style-two header-style-seven">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Site Navigation
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="site-navigation bg-gray">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar navbar-expand-lg navigation-area">
                            <div class="social-profile">
                                <ul class="social-share-two">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div><!--~./ social-profile ~-->
                           
                            <div class="mainmenu-area">
                                <nav class="menu">
                                    <ul id="nav">
                                        <li class="dropdown-trigger"><a href="#">Home</a>
                                            <ul class="dropdown-content">
                                                <li class="dropdown-trigger"><a href="#">Magazine</a>
                                                    <ul class="dropdown-content">
                                                        <li><a href="index.html">Magazine one</a></li>
                                                        <li><a href="index02.html">Magazine two</a></li>
                                                        <li><a href="index03.html">Magazine Three</a></li>
                                                        <li><a href="index04.html">Magazine four</a></li>
                                                        <li><a href="index05.html">Magazine five</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-trigger"><a href="#">Blog</a>
                                                    <ul class="dropdown-content">
                                                        <li><a href="index06.html">Blog one</a></li>
                                                        <li><a href="index07.html">Blog two</a></li>
                                                        <li><a href="index08.html">Blog Three</a></li>
                                                        <li><a href="index09.html">Blog four</a></li>
                                                        <li><a href="index10.html">Blog five</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-trigger"><a href="#">Post Styles</a>
                                            <ul class="dropdown-content">
                                                <li><a href="category-standard.html">Standard Post</a></li>
                                                <li><a href="category-grid.html">Grid Post</a></li>
                                                <li><a href="category-list.html">List Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-trigger"><a href="#">Categories</a>
                                            <ul class="dropdown-content">
                                                <li><a href="category-grid.html">Business</a></li>
                                                <li><a href="category-list.html">Fashion</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Features</a></li>
                                        <li class="dropdown-trigger"><a href="#">Pages</a>
                                            <ul class="dropdown-content">
                                                <li><a href="category-standard.html">Post standard</a></li>
                                                <li><a href="category-grid.html">Post Grid Two</a></li>
                                                <li><a href="category-list.html">Post list Three</a></li>
                                                <li><a href="post-details.html">Post details One</a></li>
                                                <li><a href="post-details-two.html">Post details Two</a></li>
                                                <li><a href="post-details-three.html">Post details Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav><!--/.menu-->
                            </div><!--~./ mainmenu-wrap ~-->
                            
                            <div class="header-navigation-right">
                                <div class="search-wrap">
                                    <div class="search-btn">
                                        <img src="assets/images/icon/search.png" alt="icon">
                                        <span>Search</span>
                                    </div>
                                    <div class="search-form">
                                        <form action="#">
                                            <input type="search" placeholder="Search">
                                            <button type="submit"><i class='fa fa-search'></i></button>
                                        </form>
                                    </div>
                                </div><!--~./ search-wrap ~-->
                            </div><!--~./ header-navigation-right ~-->
                        </div><!--~./ navigation-area ~-->
                    </div>
                </div>
            </div>
        </div><!--~./ site-navigation ~-->
        
        <div class="site-logo-block ptb-60">
            <a class="navbar-brand site-logo" href="index.html">
                <img src="assets/images/logo/logo-black2.png" alt="logo">
            </a>  
        </div><!--~./ site-logo-block ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Mobile Menu
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="mobile-menu">
            <a class="mobile-logo" href="index.html">
                <img src="assets/images/logo/logo-black.png" alt="logo">
            </a>
        </div><!--~~./ end mobile menu ~~-->
    </header>
    <!--~./ end site header ~-->
    
    
    <!--********************************************************-->
    <!--********************* SITE CONTENT *********************-->
    <!--********************************************************-->
    <div class="site-content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Frontpage Slider Posts
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="frontpage-slider-posts slider-style-two slider-style-six">
            <div id="frontpage-slider" class="owl-carousel frontpage-slider-two carousel-nav-align-center"> 
                <article class="slider-item">
                    <figure class="slider-thumb">  
                        <img src="assets/images/slider/2/4.jpg" alt="Thmubnail"> 
                    </figure><!--./ slider-thumb -->
                    <div class="content-entry-wrap">
                        <div class="content-entry-wrap-inner">
                            <div class="entry-content">
                                <h3 class="entry-title">
                                    <a href="post-details-three.html">Serena Williams can 'absolutely' break Court's Slam record</a>
                                </h3><!--./ entry-title -->
                            </div><!--./ entry-content -->

                            <div class="entry-meta-content">
                                <div class="entry-date">
                                    <span>October 24, 2019</span>
                                </div><!--./ entry-date -->
                                <div class="entry-views">
                                    <span>3 Min Read</span>
                                </div><!--./ entry-views -->
                                <div class="entry-category">
                                    <a class="cat" href="#">Sport</a>
                                </div><!--./ entry-category -->
                            </div><!--./ entry-meta-content -->
                        </div><!--./ content-entry-wrap-inner -->
                    </div><!--./ content-entry-wrap -->
                </article><!--./ slider-item -->
                
                <article class="slider-item">
                    <figure class="slider-thumb">  
                        <img src="assets/images/slider/2/2.jpg" alt="Thmubnail"> 
                    </figure><!--./ slider-thumb -->
                    <div class="content-entry-wrap">
                        <div class="content-entry-wrap-inner">
                            <div class="entry-content">
                                <h3 class="entry-title">
                                    <a href="post-details-three.html">A Walk in the Woods With Mark Zuckerber facebook owner</a>
                                </h3><!--./ entry-title -->
                            </div><!--./ entry-content -->

                            <div class="entry-meta-content">
                                <div class="entry-date">
                                    <span>October 24, 2019</span>
                                </div><!--./ entry-date -->
                                <div class="entry-views">
                                    <span>3 Min Read</span>
                                </div><!--./ entry-views -->
                                <div class="entry-category">
                                    <a class="cat" href="#">Fashion</a>
                                </div><!--./ entry-category -->
                            </div><!--./ entry-meta-content -->
                        </div><!--./ content-entry-wrap-inner -->
                    </div><!--./ content-entry-wrap -->
                </article><!--./ slider-item -->
                
                <article class="slider-item">
                    <figure class="slider-thumb">  
                        <img src="assets/images/slider/5/1.jpg" alt="Thmubnail"> 
                    </figure><!--./ slider-thumb -->
                    <div class="content-entry-wrap">
                        <div class="content-entry-wrap-inner">
                            <div class="entry-content">
                                <h3 class="entry-title">
                                    <a href="post-details-three.html">This gun is advertised as the most popular gun in American</a>
                                </h3><!--./ entry-title -->
                            </div><!--./ entry-content -->

                            <div class="entry-meta-content">
                                <div class="entry-date">
                                    <span>October 24, 2019</span>
                                </div><!--./ entry-date -->
                                <div class="entry-views">
                                    <span>3 Min Read</span>
                                </div><!--./ entry-views -->
                                <div class="entry-category">
                                    <a class="cat" href="#">Fashion</a>
                                </div><!--./ entry-category -->
                            </div><!--./ entry-meta-content -->
                        </div><!--./ content-entry-wrap-inner -->
                    </div><!--./ content-entry-wrap -->
                </article><!--./ slider-item -->
            </div><!--/#frontpage-slide --> 
        </div><!--~./End frontpage slider posts ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Section Promo Boxes
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="section-promo-boxes pt-100">
            <div class="container">
                <div class="row">
                    <!--~~~~~ Start Promo Boxes Item ~~~~~-->
                    <div class="col-lg-4 col-md-4">
                        <div class="promo-boxes-item">
                            <a class="promo-boxes-item-inner" href="#">
                                <div class="promo-thumb">
                                   <img src="assets/images/promo/1.jpg" alt="thumb">
                                </div>
                                <div class="promo-text">
                                    <span>About Me</span>
                                </div>
                            </a>
                        </div>
                    </div><!--~./ end promo boxes item ~-->
                    
                    <!--~~~~~ Start Promo Boxes Item ~~~~~-->
                    <div class="col-lg-4 col-md-4">
                        <div class="promo-boxes-item">
                            <a class="promo-boxes-item-inner" href="#">
                                <div class="promo-thumb">
                                   <img src="assets/images/promo/2.jpg" alt="thumb">
                                </div>
                                <div class="promo-text">
                                    <span>articles</span>
                                </div>
                            </a>
                        </div>
                    </div><!--~./ end promo boxes item ~-->
                    
                    <!--~~~~~ Start Promo Boxes Item ~~~~~-->
                    <div class="col-lg-4 col-md-4">
                        <div class="promo-boxes-item">
                            <a class="promo-boxes-item-inner" href="#">
                                <div class="promo-thumb">
                                   <img src="assets/images/promo/3.jpg" alt="thumb"> 
                                </div>
                                <div class="promo-text">
                                    <span>instagram</span>
                                </div>
                            </a>
                        </div>
                    </div><!--~./ end promo boxes item ~-->
                </div>
            </div>
        </div><!--~./ end section promo boxes ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Main Wrapper
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="main-wrapper ptb-100">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-8">
                        <!--~~~~~ Start Site Main ~~~~~-->
                        <main class="site-main">
                            <div class="row">
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-12">
                                    <article class="post hentry style-four">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details-three.html">
                                                    <img src="assets/images/post/standard/2/1.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-three.html">This gun is advertised as the most popular gun in American</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                            <div class="entry-meta-content">
                                                <div class="entry-meta-author">
                                                    <div class="entry-author-thumb">
                                                        <img class="avatar photo" src="assets/images/author/1.jpg" alt="author">
                                                    </div>
                                                    <div class="entry-author-name">
                                                        <a href="#">Ahmed Arafa</a>
                                                    </div>
                                                </div><!--./ entry-meta-author -->
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views">
                                                    <span>3 Min Read</span>
                                                </div><!--./ entry-views -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Appetizers</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-12">
                                    <article class="post hentry style-four">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details-three.html">
                                                    <img src="assets/images/post/standard/2/2.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-three.html">A Walk in the Woods With Mark Zuckerber facebook owner</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                            <div class="entry-meta-content">
                                                <div class="entry-meta-author">
                                                    <div class="entry-author-thumb">
                                                        <img class="avatar photo" src="assets/images/author/1.jpg" alt="author">
                                                    </div>
                                                    <div class="entry-author-name">
                                                        <a href="#">Ahmed Arafa</a>
                                                    </div>
                                                </div><!--./ entry-meta-author -->
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views">
                                                    <span>3 Min Read</span>
                                                </div><!--./ entry-views -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Appetizers</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-12">
                                    <article class="post hentry style-four">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details-three.html">
                                                    <img src="assets/images/post/standard/2/3.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-three.html">Firefighter Seriously Burned in House Fire in Brooklyn</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                            <div class="entry-meta-content">
                                                <div class="entry-meta-author">
                                                    <div class="entry-author-thumb">
                                                        <img class="avatar photo" src="assets/images/author/1.jpg" alt="author">
                                                    </div>
                                                    <div class="entry-author-name">
                                                        <a href="#">Ahmed Arafa</a>
                                                    </div>
                                                </div><!--./ entry-meta-author -->
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views">
                                                    <span>3 Min Read</span>
                                                </div><!--./ entry-views -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Appetizers</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-12">
                                    <article class="post hentry style-four">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details-three.html">
                                                    <img src="assets/images/post/standard/2/1.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-three.html">This gun is advertised as the most popular gun in American</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                            <div class="entry-meta-content">
                                                <div class="entry-meta-author">
                                                    <div class="entry-author-thumb">
                                                        <img class="avatar photo" src="assets/images/author/4.jpg" alt="author">
                                                    </div>
                                                    <div class="entry-author-name">
                                                        <a href="#">Ahmed Arafa</a>
                                                    </div>
                                                </div><!--./ entry-meta-author -->
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views">
                                                    <span>3 Min Read</span>
                                                </div><!--./ entry-views -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Appetizers</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                                
                                <!--~~~~~ Start Post ~~~~~-->
                                <div class="col-12">
                                    <article class="post hentry style-four">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="post-details-three.html">
                                                    <img src="assets/images/post/standard/2/5.jpg" alt="post">
                                                </a>
                                            </figure><!--./ thumb-wrap -->
                                        </div><!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <div class="entry-content">
                                                <h3 class="entry-title">
                                                    <a href="post-details-three.html">A Walk in the Woods With Mark Zuckerber facebook owner</a>
                                                </h3><!--./ entry-title -->
                                            </div><!--./ entry-content -->
                                            <div class="entry-meta-content">
                                                <div class="entry-meta-author">
                                                    <div class="entry-author-thumb">
                                                        <img class="avatar photo" src="assets/images/author/1.jpg" alt="author">
                                                    </div>
                                                    <div class="entry-author-name">
                                                        <a href="#">Ahmed Arafa</a>
                                                    </div>
                                                </div><!--./ entry-meta-author -->
                                                <div class="entry-date">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views">
                                                    <span>3 Min Read</span>
                                                </div><!--./ entry-views -->
                                                <div class="entry-category">
                                                    <a class="cat" href="#">Appetizers</a>
                                                </div><!--./ entry-category -->
                                            </div><!--./ entry-meta-content -->
                                        </div><!--./ content-entry-wrap -->
                                    </article>
                                </div><!--~./ end post ~-->
                            </div>
                        </main>
                        <!--~./ end site main ~-->
                        
                        <!--~~~~~ Start Paging Navigation ~~~~~-->
                        <nav class="navigation paging-navigation mt-40">
                            <ul class="nav-links">
                                <li class="nav-previous"> <!-- disabled class add when no pagination -->
                                    <a href="#">Previous</a>
                                </li>                                      
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#" class="page-numbers">2</a></li>
                                <li><a href="#" class="page-numbers">3</a></li>
                                <li><a href="#" class="page-numbers">4</a></li>
                                <li class="nav-next">
                                    <a href="#">Next</a>
                                </li> 
                            </ul>
                        </nav><!--~./ end paging navigation ~-->
                    </div>
                    
                    <!--~~~~~ Start sidebar ~~~~~-->
                    <div class="col-lg-3">
                        <div class="sidebar sidebar-style-two">
                            <!--~~~~~ Start About Me Widget ~~~~~--> 
                            <aside class="widget bt-about-me-widget">
                                <div class="widget-content">
                                    <div class="author-thumb">
                                        <a href="#"><img src="assets/images/widget/about/about-me.jpg" alt="img"></a>
                                    </div>
                                    <div class="author-info">
                                        <h3 class="name"><a href="#">Hello, Im Mahmoud</a></h3>
                                        <p>Hi there, my name is Arnold from Binard. Lorem ipsum dolor sitters amet from suez</p>
                                        <div class="author-sign">
                                            <img src="assets/images/widget/about/signature.png" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </aside><!--~./ end about me widget ~-->
                           
                            <!--~~~~~ Start Widget Advertisement ~~~~~-->
                            <aside class="widget widget-text">           
                                <div class="widget-content">
                                    <a title="add" href="#">
                                        <img src="assets/images/advertisement/add-widget2.jpg" alt="add">
                                    </a>
                                </div>
                            </aside><!--~./ end widget advertisement ~-->
                               
                            <!--~~~~~ Start Popular Posts Widget~~~~~-->
                            <aside class="widget popular-posts-widget">
                                <h4 class="widget-title"><span>Popular Post</span></h4>
                                <div class="widget-content">
                                    <article class="post side-post">
                                        <div class="thumb-wrap">
                                            <a href="post-details-three.html">
                                                <img src="assets/images/widget/populer/1/1.jpg" alt="post">
                                            </a>
                                            <span class="count">1</span>
                                        </div><!--./ thumb-wrap -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="post-details-three.html">The rumored iPhone could in hot pink</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>July 24, 2019 </span>
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->
                                    
                                    <article class="post side-post">
                                        <div class="thumb-wrap">
                                            <a href="post-details-three.html">
                                                <img src="assets/images/widget/populer/1/2.jpg" alt="post">
                                            </a>
                                            <span class="count">2</span>
                                        </div><!--./ thumb-wrap -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="post-details-three.html">This gun is advertise as the most popular gun</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>July 24, 2019 </span>
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->
                                    
                                    <article class="post side-post">
                                        <div class="thumb-wrap">
                                            <a href="post-details-three.html">
                                                <img src="assets/images/widget/populer/1/3.jpg" alt="post">
                                            </a>
                                            <span class="count">3</span>
                                        </div><!--./ thumb-wrap -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="post-details-three.html">How to live with some vegeterian when you eat </a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span>July 24, 2019 </span>
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->
                                </div>
                            </aside><!--~./ end popular posts widget ~-->
                               
                            <!--~~~~~ Start Subscribe Widget~~~~~-->
                            <aside class="widget tb-subscribe-widget">
                                <div class="widget-content">
                                    <div class="subscribe-box">
                                        <div class="icon">
                                            <img src="assets/images/widget/newsletter/icon.png" alt="icon">
                                        </div>
                                        <p>Subscribe to our mailing list to get the new updates!</p>
                                        <div class="subscribe-form">
                                            <!-- Subscribe form -->
                                            <form class="dv-form" id="mc-form">
                                                <div class="form-group">
                                                    <input id="mc-email" name="EMAIL" placeholder="Email Address" type="email">
                                                    <button class="btn btn-primary" name="Subscribe" id="subscribe-btn" type="submit">Subscribe Now</button>
                                                </div>
                                            </form>
                                         </div>
                                    </div>
                                </div>
                            </aside><!--~./ end subscribe widget ~-->
                            
                            <!--~~~~~ Start Bt Widget Categories~~~~~-->
                            <aside class="widget bt-widget-categories bt-widget-categories-two">
                                <div class="widget-content">
                                    <a href="#" class="cat-item">
                                        <div class="cat-item-inner">
                                            <div class="cat-thumb">
                                                <img src="assets/images/widget/cat/1/1.jpg" alt="img">
                                            </div>
                                            <div class="cat-name">
                                                <span>LifeStyle</span>
                                            </div>
                                        </div>
                                    </a><!--~./ cat-item ~-->
                                    
                                    <a href="#" class="cat-item">
                                        <div class="cat-item-inner">
                                            <div class="cat-thumb">
                                                <img src="assets/images/widget/cat/1/2.jpg" alt="img">
                                            </div>
                                            <div class="cat-name">
                                                <span>Business</span>
                                            </div>
                                        </div>
                                    </a><!--~./ cat-item ~-->
                                    
                                    <a href="#" class="cat-item">
                                        <div class="cat-item-inner">
                                            <div class="cat-thumb">
                                                <img src="assets/images/widget/cat/1/3.jpg" alt="img">
                                            </div>
                                            <div class="cat-name">
                                                <span>Fashion</span>
                                            </div>
                                        </div>
                                    </a><!--~./ cat-item ~-->
                                </div>
                            </aside><!--~./ end bt widget categories ~-->
                        </div>
                    </div><!--~./ end sidebar ~-->
                </div>
            </div>
        </div><!--~./ end main wrapper ~-->
        
        <!--~~~~~ Start Instagram Widget Area ~~~~~-->
        <div class="instagram-widget-area style-two">
            <div class="widget bt-instafeed-widget">
                <ul id="instafeed">
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/1.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/2.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/3.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/4.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/5.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/6.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/7.jpg" alt="#">
                        </a>
                    </li>
                    <li class="feed-item">
                        <a href="#">
                            <img src="assets/images/widget/instagram/3/8.jpg" alt="#">
                        </a>
                    </li>
                </ul> 
                <div class="instafeed-heading">
                    <div class="heading">
                        <h4>Follow Us <span>#magla</span></h4>
                    </div><!--/.tb-cell-->
                </div><!--/.instafeed-heading-->
            </div><!--/.widget-instafeed-->
        </div><!--~./ end instagram widget area ~-->
    </div>
    <!-- End site content -->
      
    
    <!--********************************************************-->
    <!--********************** SITE FOOTER *********************-->
    <!--********************************************************-->
    <footer class="site-footer footer-bolg-style-two ptb-60">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Footer Widget Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row justify-content-center">
                    <!--~~~~~ Start Widget About us Widget ~~~~~--> 
                    <div class="col-lg-12">
                        <aside class="widget bt-about-us-widget">
                            <div class="widget-content">
                                <div class="about-logo">
                                    <a href="index.html"><img src="assets/images/logo/footer-logo-black.png" alt="Logo"></a>
                                </div>
                                <div class="social-profile">
                                    <ul class="social-share-two">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div><!--~./ end about us widget ~-->
                </div>
            </div>
        </div>
        <!--~./ end footer widgets area ~-->
    </footer>
    <!--~./ end site footer ~-->
    
    <!-- jQuery js -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Popper js -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Owl carousel js -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Masonary js -->
    <script src="assets/js/masonary.min.js"></script>
    <!-- News Ticker js -->
    <script src="assets/js/breaking-news-ticker.min.js"></script>
    <!-- Trackpad Scroll js -->
    <script src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <!-- Sticky ResizeSensor js -->
    <script src="assets/js/ResizeSensor.min.js"></script>
    <!-- Sticky Sidebar js -->
    <script src="assets/js/theia-sticky-sidebar.min.js"></script>
    <!-- Plugin js -->
    <script src="assets/js/plugins.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
</body>
</html>
